/* GENERAL PRESET */

.star-bar {
width: 16%;
height: 3px;
border-radius: 10px;
}

.bar-dark {
background-color: #2C3E50;
}

.bar-light {
background-color: #FFFFFF;
}

/* /GENERAL PRESET */


/* HEADER */

.sc-bg-nav {
  background-color: #2C3E50 !important;
}

.navbar-light .navbar-toggler {
  border: 1px solid #FFFFFF;
} 

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* /HEADER */


/* JUMBTRON */

.avatar img {
  width: 22%;
  margin: 0 auto;
}

/* /JUMBTRON */


/* MAIN */

/* PORTFOLIO */

.sc-card{
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.sc-card img{
  width: 100%;
}
.sc-card .sc-layover{
  background-color: #208872;
  opacity: .7;
  color: white;
  font-size: 60px;
  display: none !important;
}
.sc-card:hover .sc-layover{
  display: flex !important;
}


/* /PORTFOLIO */


/* ABOUT */

.sc-container-about {
  width: 70%;
  margin: 0 auto;
}

.green {
  background-color: #1ABC9C;
}

.btn-download {
  background-color: #1ABC9C;
  border-color: #FFFFFF;
  box-shadow: none;
}

.btn-download:hover {
  color: #2C3F4F;
  background-color: #FFFFFF;
  box-shadow: none;
}

/* /ABOUT */


/* CONTACT ME */

.sc-container-contact {
  width: 67%;
  margin: 0 auto;
}

/* /CONTACT ME */

.sc-container-contact input, .sc-container-contact textarea {
  padding: 10px 0 20px 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-size: 20px;
  border-radius: 0;
  box-shadow: none;
}

.sc-container-contact input::placeholder {
  color: #2C3F4F;
}

.sc-container-contact textarea::placeholder {
  color: #2C3F4F;
}

/* /MAIN */


/* FOOTER */

.sc-icon i {
  margin: 0 5px;
  font-size: 16px;
  border: 1px solid #FFFFFF;
  padding: 8px 10px;
  border-radius: 50%
}

.contact {
  background-color: #3A546D;
}

.copyright {
  background-color: #2C3E50;
}

/* /FOOTER */


/* MEDIA QUERY */

@media screen and (max-width: 767px){
  .avatar img {
    width: 50%;
  }
  
}

/* /MEDIA QUERY */