.debug {
  background-color: grey;
  border: 1px solid black;
}

.h100 {
  height: 100px;
}

.h150 {
  height: 150px;
}

.h300 {
  height: 300px;
}

.h500 {
  height: 500px;
}

/* HEADER */
/* /HEADER */
/* JUMBTRON */
/* /JUMBTRON */
/* MAIN */
/* /MAIN */







/* FOOTER */

.contact {
  background-color: #3A546D;
}

.copyright {
  background-color: #2C3E50;
}



/* /FOOTER */