.debug {
  background-color: grey;
  border: 1px solid black;
}

.h100 {
  height: 100px;
}

.h150 {
  height: 150px;
}

.h250 {
  height: 250px;
}

.h500 {
  height: 500px;
}

/* HEADER */
/* /HEADER */
/* JUMBTRON */

.avatar img {
  width: 12%;
  margin: 0 auto;
}


/* /JUMBTRON */


/* MAIN */

/* PORTFOLIO */

.sc-container-portfolio {
  width: 80%;
  margin: 0 auto;
}

.sc-container-portfolio img {
  width: 100%;
  border-radius: 10px;
}

/* /PORTFOLIO */





/* ABOUT */

.sc-container-about {
  width: 70%;
  margin: 0 auto;
}

.green {
  background-color: #1ABC9C;
}

.btn-download {
  background-color: #1ABC9C;
  border-color: #FFFFFF;
}

.btn-download:hover {
  color: #2C3F4F;
  background-color: #FFFFFF;
}

/* /ABOUT */


/* CONTACT ME */

.sc-container-contact {
  width: 67%;
  margin: 0 auto;
}

/* /CONTACT ME */




/* /MAIN */







/* FOOTER */

.contact {
  background-color: #3A546D;
}

.copyright {
  background-color: #2C3E50;
}



/* /FOOTER */